body{
    /* background-color: #a82be2; */
    background-color: rgb(16, 134, 26);
}
/* #cv-form{
    display: none;
} */

.myimg {
    border:1px solid black;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.background{
    /* background-color: rgb(61, 201, 159); */
    background-color: rgb(240, 140, 223);
    
}